<div class="custom_popup">
<div class="popup_container">
    <span class="confirm_check_icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="39" height="40" viewBox="0 0 39 40" fill="none">
            <path d="M19.4613 38.4282C29.648 38.4282 37.906 30.1702 37.906 19.9835C37.906 9.79678 29.648 1.53882 19.4613 1.53882C9.27457 1.53882 1.0166 9.79678 1.0166 19.9835C1.0166 30.1702 9.27457 38.4282 19.4613 38.4282Z" fill="#0F0E17" stroke="#0F0E17" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M12.4697 21.0455L17.1275 25.2934L26.443 14.6737" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
    </span>

    <h2 class="before_login_card_head">{{title}}</h2>
    <p class="before_login_card_desc">{{text}}</p>
    <button type="button" (click)="onSubmit()" class="common_button w-100">{{buttonText}}</button>
</div>
</div>