.vui_header
{
    background-color: var(--White-Color);
    padding:20px;
        position: sticky;
    top: 0;
}

.vui_header_inner
{
    border-radius: 30px;
border: 1px solid var(--Light-Border-Color);
background: var(--background-Color);
padding: 15px 15px 15px 40px;
}

.vui_header_inner
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-gap: 30px;
}

.vui_dashboard_logo img
{
    width: 115px;
}

.user_detail > ul
{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 16px;
    align-items: center;
}

.profile_pic img
{
    width: 58px;
    height: 58px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
}

.user_name
{
    color: var(--Text-Color);
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: block;
}

.user_role
{
    color: var(--Light-Text-Color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: block;
margin-top: 2px;
}

.profile_name_div
{
    width: 160px;
}

.chat_icon
{
    background-color: var(--White-Color);
    border: 1px solid var(--Border-Color);
    height: 58px;
    width: 58px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chat_icon_notification::after
{
      content: "";
    height: 9px;
    width: 9px;
    border-radius: 100%;
    background-color: var(--Light-Bg-Color);
    position: absolute;
    top: 15px;
    right: 14px;
    z-index: 1;
}