<ng-container *ngIf="!isSuccess">
    <section class="vui_before_login">
        <div class="vui_before_login_cards">
            <figure class="vui_logo">
                <a href=""><img src="assets/images/veridian-urban-index.png" alt=""></a>
            </figure>
            <h4 class="before_login_card_head">Reset Password</h4>
            <p class="before_login_card_desc">Password must contain at least 7 letters
                and 1 number.</p>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="input_field">
                    <label for="">New Password *</label>
                    <input class="form-control" type="password" placeholder="Password" formControlName="password"
                        #passwordField>

                </div>
                <div *ngIf="resetPasswordForm.controls['password'].touched">
                    <span class="invalid-feedback d-block"
                        *ngIf="resetPasswordForm.controls['password'].hasError('required')">Password is
                        required</span>
                    <span class="invalid-feedback d-block"
                        *ngIf="resetPasswordForm.controls['password'].hasError('minlength')">Minimum eight
                        characters.</span>
                    <span class="invalid-feedback d-block"
                        *ngIf="resetPasswordForm.controls['password'].hasError('pattern')">
                        There should be a pattern,
                        one upper case letter,
                        a small letter, a number and a special
                        Character.</span>
                </div>
                <div class="input_field mb-0">
                    <label for="">Confirm New Password *</label>
                    <input class="form-control" type="password" placeholder="Confirm Password"
                        formControlName="confirmPassword" #ConfirmPasswordField>
                </div>
                <div *ngIf=" resetPasswordForm.controls['confirmPassword'].touched">
                    <span class="invalid-feedback d-block"
                        *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required')">Confirm password is
                        required</span>
                </div>
                <span class="invalid-feedback d-block"
                    *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('confirmPasswordValidator')">Password
                    mismatch</span>


                <button type="submit" class="common_button w-100 mt-4">Submit
                    <span *ngIf="loading" class="spinner-border spinner-border-sm ms-2"></span>
                </button>
            </form>
        </div>
    </section>

</ng-container>


<ng-container *ngIf="isSuccess">
    <app-account-pop-up (event)="popUpEvent()" [title]="'Password Changed'"
        [text]="'Your password has been successfully reset. Please login with new password.'"></app-account-pop-up>
</ng-container>